.Main {
    margin-top: 55px;
    z-index: -1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    justify-self: center;
    justify-content: space-around;
}

h2 {
    font-weight: 300;
    font-style: italic;
}

h2 span {
    font-weight: 900;
    font-style: normal;
}

img {
    height: 80vh;
}

.playlist,
.songlist {
    margin-top: 20px;
}

.playlist ul,
.songlist ul {
    list-style: none;
    text-align: left;
}

.playlist li,
.songlist li {
    padding: 10px 0 10px 0;
    text-align: left;
}